<h3>Недавняя активность</h3>
        <hr>
        {% for message in task_messages %}
            <div>
                <small><a href="{% url 'user-profile' message.user.id %}">@{{message.user}}</a>{{message.created|timesince}}</small>
                <small >Ответил в {{message.task}}</small>

                <p>{{message}}</p>
                {% if request.user == message.user %}
                <a href="{% url 'delete-message' message.id %}">Удалить</a>
                {% endif %}

                <hr>
            </div>
        {% endfor %}