{% extends 'main.html' %}

{% block content %}

<style>
    .task-container{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>

<div class="task-container">

        <div>
        <h1>Тема: {{task.name}}</h1>
        <h2>Задание: {{task.description}}</h2>
        <div class="comment-wrapper">
            <h3>Прикреплённые решения</h3>
            <hr>
            
            {% for message in task_messages %}
                <div class="card mb-3">
                    <div class="card-body">
                        <small class="text-muted">{{ message.user }}</small><br>
                        <small class="text-muted">{{ message.created|timesince }} назад</small>
                        <p>{{ message.body }}</p>

                        {% if message.attachment %}
                            <a href="{{ message.attachment.url }}" download class="btn btn-primary btn-sm">Скачать файл</a>
                        {% endif %}
                        {% if request.user == message.user %}
                            <a href="{% url 'delete-message' message.id %}" class="btn btn-danger btn-sm">Удалить</a>
                        {% endif %}

                        {% if request.user.role == 'admin' %}
                            <form method="post" action="{% url 'rate-message' message.id %}">
                                {% csrf_token %}
                                <label for="rating">Оценка:</label>
                                <input type="number" name="rating" min="1" max="5">
                                <button type="submit">Поставить оценку</button>
                            </form>
                        {% endif %}

                        {% if message.rating %}
                            <p>Оценка: {{ message.rating }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if request.user.is_authenticated %}
        {% if success %}
            <p>Задание успешно отправлено!</p>
        {% else %}
        {% if user_message_count == 0 %}
            <div class="comment-form mt-3">
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="body">Введите комментарий к решению</label>
                        <input type="text" name="body" id="body" class="form-control" placeholder="Введите комментарий к решению"/>
                    </div>
                    <div class="form-group">
                        <label for="attachment">Прикрепить файл</label>
                        <input type="file" name="attachment" id="attachment" class="form-control-file"/>
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
            </div>
        {% else %}
            <div class="alert alert-info mt-3" role="alert">
                <p>Вы уже отправили задание</p>
            </div>
        {% endif %}

        
    

        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        {% endif %}

    {% endif %}
    </div>

    <div>
        <h3>Решения отправили</h3>
        <hr>

        {% for user in participants %}
            <div>
                <p>{{user.name}}</p>
            </div>

        {% endfor %}
    </div>
</div>

{% endblock %}