<div class="container mt-4">
    <h3 class="mb-4">Темы заданий</h3>
    <hr>

    <div class="d-flex justify-content-between mb-3">
        <a href="{% url 'home' %}" class="btn btn-primary">Все</a>
    </div>

    <ul class="list-group">
        {% for topic in topics %}
          <li class="list-group-item {% if topic.name == selected_topic %}active{% endif %}">
            <a href="{% url 'home' %}?q={{ topic.name }}" class="stretched-link">
              {{ topic.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
      

</div>
